name: 'otel-event-filter-stream: apptest'

networks:
  default:
    name: github_actions
    external: true
    driver: bridge

services:
  kafka:
    image: confluentinc/cp-kafka:8.1.1
    environment:
      # Cluster / broker identity
      KAFKA_NODE_ID: 1
      KAFKA_BROKER_ID: 1
      CLUSTER_ID: 'N2E5ODJjNjA5OGY3NDFiY2' # run "kafka-storage random-uuid"
      KAFKA_PROCESS_ROLES: 'broker,controller'

      # Listener setup
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9092,EXTERNAL://kafka:9094'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

      # Other essential configs
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
    ports:
      - '9092:9092'
      - '9094:9094'
    healthcheck:
      test: kafka-topics --bootstrap-server localhost:9092 --list || exit 1
      interval: 2s
      timeout: 5s
      retries: 12
    restart: on-failure
    networks:
      - default

  kafka.ui:
    image: provectuslabs/kafka-ui:v0.7.2
    environment:
      KAFKA_CLUSTERS_0_NAME: 'snow-white'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'kafka:9094'
    ports:
      - '8090:8080'
    depends_on:
      kafka:
        condition: service_healthy
    restart: on-failure
    networks:
      - default

  wiremock:
    image: wiremock/wiremock:3.1.0-alpine
    ports:
      - '9000:8080'
    restart: on-failure
    networks:
      - default
