name: 'api-sync-job: apptest'

networks:
  default:
    name: github_actions
    external: true
    driver: bridge

services:
  wiremock:
    image: wiremock/wiremock:3.1.0-alpine
    ports:
      - '9000:8080'
    restart: on-failure
    networks:
      - default

  minio:
    image: minio/minio:latest-cicd
    command: server /home/shared
    ports:
      - '9090:9000'
    networks:
      - default
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']
      interval: 5s
      timeout: 5s
      retries: 5
