[submodule "backstage"]
	path = backstage
	url = https://github.com/backstage/backstage.git
[submodule "opentelemetry-proto"]
	path = opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
