.git/
.husky/
.idea/
.mvn/
.npm/

backstage/
node_modules/
opentelemetry-proto/

package-lock.json
helm/pnpm-lock.yaml
microservices/api-gateway/pnpm-lock.yaml

target/

# Must have no newline at end of file
tooling/openapi-generator-spring/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig

# Have their own prettier configurations
microservices/api-gateway/**/*.ts
toolkit/cli/**/*.ts
