name: 'snow-white'

networks:
  default:
    name: podman
  internal:
    name: snow-white

services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.146.1
    env_file: .env
    volumes:
      - ./otel-collector/config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - '1888:1888' # pprof extension
      - '8888:8888' # Prometheus metrics exposed by the Collector
      - '8889:8889' # Prometheus exporter metrics
      - '13133:13133' # health_check extension
      - '4317:4317' # OTLP gRPC receiver
      - '4318:4318' # OTLP http receiver
      - '55679:55679' # zpages extension
    deploy:
      resources:
        reservations:
          cpus: '0.1'
          memory: '128m'
        limits:
          cpus: '0.2'
          memory: '512m'
    depends_on:
      kafka:
        condition: service_healthy
    restart: on-failure
    networks:
      - internal

  jaeger:
    image: jaegertracing/jaeger:2.15.1
    ports:
      - '16686:16686'
    networks:
      - default
      - internal

  example-application:
    build:
      context: ../example-application
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: 'grpc'
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4317'
    ports:
      - '8080:8080'
    depends_on:
      otel-collector:
        condition: service_started
    restart: on-failure
    networks:
      - default
      - internal

  kafka:
    image: confluentinc/cp-kafka:8.1.1
    environment:
      # Cluster / broker identity
      KAFKA_NODE_ID: 1
      KAFKA_BROKER_ID: 1
      CLUSTER_ID: 'ZTkwOTM2MzQyYWJmNDM5Ym' # run "kafka-storage random-uuid"
      KAFKA_PROCESS_ROLES: 'broker,controller'

      # Listener setup
      KAFKA_LISTENERS: 'PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://localhost:9092,EXTERNAL://kafka:9094'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

      # Other essential configs
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
    ports:
      - '9092:9092'
      - '9094:9094'
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: '1g'
        limits:
          cpus: '1'
          memory: '2g'
    healthcheck:
      test: kafka-topics --bootstrap-server localhost:9092 --list || exit 1
      interval: 3s
      timeout: 5s
      retries: 20
    restart: on-failure
    networks:
      - internal

  # TODO https://github.com/bbortt/snow-white/issues/287
  #  kafka.schema-registry:
  #    image: bitnami/schema-registry:7.9.1
  #    hostname: kafka-schema-registry
  #    ports:
  #      - '9081:8081'
  #    depends_on:
  #      kafka:
  #        condition: service_healthy
  #    environment:
  #      SCHEMA_REGISTRY_LISTENERS: 'http://0.0.0.0:8081'
  #      SCHEMA_REGISTRY_KAFKA_BROKERS: 'PLAINTEXT://kafka:9094'
  #    networks:
  #      - internal

  kafka.ui:
    image: provectuslabs/kafka-ui:v0.7.2
    environment:
      KAFKA_CLUSTERS_0_NAME: 'snow-white'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'kafka:9094'
    ports:
      - '8090:8080'
    depends_on:
      kafka:
        condition: service_healthy
    restart: on-failure
    networks:
      - default
      - internal

  influxdb:
    image: influxdb:2.8.0-alpine
    environment:
      DOCKER_INFLUXDB_INIT_MODE: 'setup'
      DOCKER_INFLUXDB_INIT_ORG: 'snow-white'
      DOCKER_INFLUXDB_INIT_BUCKET: 'raw-data'
      DOCKER_INFLUXDB_INIT_USERNAME: 'snow-white'
      DOCKER_INFLUXDB_INIT_PASSWORD: 'snow-white'
    ports:
      - '8086:8086'
    restart: on-failure
    networks:
      - default
      - internal

  postgres:
    image: 'postgres:18.2-alpine'
    shm_size: 128mb
    environment:
      POSTGRES_USER: 'snow-white'
      POSTGRES_PASSWORD: 'snow-white'
    volumes:
      - ./postgres/data/:/var/lib/postgresql
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U snow-white -d postgres']
      interval: 5s
      timeout: 5s
      retries: 5
    restart: on-failure
    networks:
      - internal

  artifactory:
    image: wiremock/wiremock:3.13.2-alpine
    volumes:
      - ./artifactory:/home/wiremock
    ports:
      - '3000:8080'
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure
    networks:
      - internal

  microservices.api-gateway:
    build:
      context: ../microservices/api-gateway
    hostname: api-gateway
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: 'grpc'
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4317'
      SNOW_WHITE_API_GATEWAY_PUBLIC-URL: 'http://localhost'
      SNOW_WHITE_API_GATEWAY_QUALITY-GATE-API-URL: 'http://quality-gate-api:8080'
      SNOW_WHITE_API_GATEWAY_REPORT-COORDINATOR-API-URL: 'http://report-coordinator-api:8080'
    ports:
      - '80:8080'
    deploy:
      resources:
        reservations:
          cpus: '0.25'
          memory: '512m'
        limits:
          cpus: '0.5'
          memory: '512m'
    depends_on:
      otel-collector:
        condition: service_started
      microservices.api-sync-job:
        condition: service_completed_successfully
      microservices.quality-gate-api:
        condition: service_started
      microservices.report-coordinator-api:
        condition: service_started
    healthcheck:
      test: wget -O - http://localhost:8090/management/health | grep UP || exit 1
      interval: 1s
      timeout: 5s
      retries: 12
    restart: on-failure
    networks:
      - default
      - internal

  microservices.api-index-api:
    # If not built natively:
    #    build:
    #      context: ../microservices/api-index-api
    # Native image:
    image: ghcr.io/bbortt/snow-white/api-index-api
    hostname: api-index-api
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4318'
      SNOW_WHITE_API_INDEX_PUBLIC_API_GATEWAY_URL: 'http://localhost'
      SPRING_DATASOURCE_URL: 'jdbc:postgresql://postgres:5432/api-index-api'
      SPRING_DATASOURCE_USERNAME: 'api_index_app'
      SPRING_DATASOURCE_PASSWORD: 'strongpassword6'
      SPRING_FLYWAY_USER: 'api_index_flyway'
      SPRING_FLYWAY_PASSWORD: 'strongpassword5'
    ports:
      - '8085:8080'
    deploy:
      resources:
        reservations:
          cpus: '0.1'
          memory: '128m'
        limits:
          cpus: '0.2'
          memory: '512m'
    depends_on:
      otel-collector:
        condition: service_started
      postgres:
        condition: service_healthy
    restart: on-failure
    networks:
      - internal

  microservices.api-sync-job:
    build:
      context: ../microservices/api-sync-job
    hostname: api-sync-job
    environment:
      OTEL_EXPORTER_OTLP_PROTOCOL: 'grpc'
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4317'
      SNOW_WHITE_API_SYNC_JOB_API-INDEX_BASE-URL: 'http://api-index-api:8080'
      SNOW_WHITE_API_SYNC_JOB_ARTIFACTORY_ACCESS-TOKEN: 'private-token'
      SNOW_WHITE_API_SYNC_JOB_ARTIFACTORY_BASE-URL: 'http://artifactory:8080'
      SNOW_WHITE_API_SYNC_JOB_ARTIFACTORY_CUSTOM_API_NAME_JSON_PATH: 'info.extensions.x-api-name'
      SNOW_WHITE_API_SYNC_JOB_ARTIFACTORY_REPOSITORY: 'snow-white-generic-local'
    deploy:
      resources:
        reservations:
          cpus: '0.25'
          memory: '512m'
        limits:
          cpus: '0.5'
          memory: '512m'
    depends_on:
      otel-collector:
        condition: service_started
      artifactory:
        condition: service_healthy
      microservices.api-index-api:
        condition: service_started
    restart: on-failure
    networks:
      - internal

  microservices.otel-event-filter-stream:
    # If not built natively:
    #    build:
    #      context: ../microservices/otel-event-filter-stream
    # Native image:
    image: ghcr.io/bbortt/snow-white/otel-event-filter-stream
    hostname: otel-event-filter-stream
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4318'
      SNOW_WHITE_OTEL_EVENT_FILTER_API-INDEX_BASE-URL: 'http://api-index-api:8080'
      SNOW_WHITE_OTEL_EVENT_FILTER_INBOUND_TOPIC_NAME: 'snow-white_inbound'
      SNOW_WHITE_OTEL_EVENT_FILTER_INIT-TOPICS: 'true'
      SNOW_WHITE_OTEL_EVENT_FILTER_OUTBOUND_TOPIC_NAME: 'snow-white_outbound'
      SPRING_KAFKA_BOOTSTRAP_SERVERS: 'kafka:9094'
    deploy:
      resources:
        reservations:
          cpus: '0.1'
          memory: '128m'
        limits:
          cpus: '0.2'
          memory: '512m'
    depends_on:
      #      kafka.schema-registry:
      #        condition: service_started
      otel-collector:
        condition: service_started
      microservices.api-sync-job:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - internal

  microservices.openapi-coverage-stream:
    build:
      context: ../microservices/openapi-coverage-stream
    hostname: openapi-coverage-stream
    env_file: .env
    environment:
      INFLUXDB_URL: 'http://influxdb:8086'
      INFLUXDB_ORG: 'snow-white'
      INFLUXDB_BUCKET: 'raw-data'
      OTEL_EXPORTER_OTLP_PROTOCOL: 'grpc'
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4317'
      SNOW_WHITE_OPENAPI_COVERAGE_STREAM_API-INDEX_BASE-URL: 'http://api-index-api:8080'
      SNOW_WHITE_OPENAPI_COVERAGE_STREAM_CALCULATION-REQUEST-TOPIC: 'snow-white-calculation-request'
      SNOW_WHITE_OPENAPI_COVERAGE_STREAM_INIT-TOPICS: 'true'
      SNOW_WHITE_OPENAPI_COVERAGE_STREAM_OPENAPI-CALCULATION-RESPONSE-TOPIC: 'snow-white-openapi-calculation-response'
      SPRING_KAFKA_BOOTSTRAP_SERVERS: 'kafka:9094'
    deploy:
      resources:
        reservations:
          cpus: '0.25'
          memory: '512m'
        limits:
          cpus: '0.5'
          memory: '512m'
    depends_on:
      otel-collector:
        condition: service_started
      microservices.api-sync-job:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - internal

  microservices.quality-gate-api:
    # If not built natively:
    #    build:
    #      context: ../microservices/quality-gate-api
    # Native image:
    image: ghcr.io/bbortt/snow-white/quality-gate-api
    hostname: quality-gate-api
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4318'
      SNOW_WHITE_QUALITY_GATE_API_PUBLIC-API-GATEWAY-URL: 'http://localhost'
      SPRING_DATASOURCE_URL: 'jdbc:postgresql://postgres:5432/quality-gate-api'
      SPRING_DATASOURCE_USERNAME: 'quality_gate_app'
      SPRING_DATASOURCE_PASSWORD: 'strongpassword4'
      SPRING_FLYWAY_USER: 'quality_gate_flyway'
      SPRING_FLYWAY_PASSWORD: 'strongpassword3'
    ports:
      - '8081:8080'
    deploy:
      resources:
        reservations:
          cpus: '0.1'
          memory: '128m'
        limits:
          cpus: '0.2'
          memory: '512m'
    depends_on:
      otel-collector:
        condition: service_started
      postgres:
        condition: service_healthy
    restart: on-failure
    networks:
      - internal

  microservices.report-coordinator-api:
    # If not built natively:
    #    build:
    #      context: ../microservices/report-coordinator-api
    # Native image:
    image: ghcr.io/bbortt/snow-white/report-coordinator-api
    hostname: report-coordinator-api
    environment:
      OTEL_EXPORTER_OTLP_ENDPOINT: 'http://otel-collector:4318'
      SNOW_WHITE_REPORT_COORDINATOR_API_CALCULATION-REQUEST-TOPIC: 'snow-white-calculation-request'
      SNOW_WHITE_REPORT_COORDINATOR_API_INIT-TOPICS: 'true'
      SNOW_WHITE_REPORT_COORDINATOR_API_OPENAPI-CALCULATION-RESPONSE_TOPIC: 'snow-white-openapi-calculation-response'
      SNOW_WHITE_REPORT_COORDINATOR_API_PUBLIC_API_GATEWAY_URL: 'http://localhost'
      SNOW_WHITE_REPORT_COORDINATOR_API_QUALITY-GATE-API-URL: 'http://quality-gate-api:8080'
      SPRING_DATASOURCE_URL: 'jdbc:postgresql://postgres:5432/report-coordinator-api'
      SPRING_DATASOURCE_USERNAME: 'report_coord_app'
      SPRING_DATASOURCE_PASSWORD: 'strongpassword2'
      SPRING_FLYWAY_USER: 'report_coord_flyway'
      SPRING_FLYWAY_PASSWORD: 'strongpassword1'
      SPRING_KAFKA_BOOTSTRAP_SERVERS: 'kafka:9094'
    ports:
      - '8084:8080'
    deploy:
      resources:
        reservations:
          cpus: '0.1'
          memory: '128m'
        limits:
          cpus: '0.2'
          memory: '512m'
    depends_on:
      kafka:
        condition: service_healthy
      otel-collector:
        condition: service_started
      postgres:
        condition: service_healthy
      microservices.quality-gate-api:
        condition: service_started
    restart: on-failure
    networks:
      - internal
