.img-svg {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  height: 1em;
  width: 1em;

  background-color: $navbar-dark-color;

  :hover > & {
    background-color: $navbar-dark-hover-color;
  }
}

.img-svg-openapi {
  -webkit-mask: url('/content/images/openapi.svg') no-repeat center / contain;
  mask: url('/content/images/openapi.svg') no-repeat center / contain;
}

.link-no-style {
  text-decoration: none;
}
