# snow-white

{{ template "chart.versionBadge" . }}
{{ template "chart.typeBadge" . }}
{{ template "chart.appVersionBadge" . }}

A Helm chart for deploying [`snow-white`](https://github.com/bbortt/snow-white).

{{ template "chart.valuesSection" . }}
