# Global (across snow-white and third parties)
global:
  imagePullSecrets: []

commonLabels:
  app.kubernetes.io/part-of: snow-white

## @param podAffinityPreset InfluxDB(TM) Core Pod affinity preset. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
##
podAffinityPreset: ''
## @param podAntiAffinityPreset InfluxDB(TM) Core Pod anti-affinity preset. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
##
podAntiAffinityPreset: soft
## Node affinity preset
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
##
nodeAffinityPreset:
  ## @param nodeAffinityPreset.type InfluxDB(TM) Core Node affinity preset type. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
  type: ''
  ## @param nodeAffinityPreset.key InfluxDB(TM) Core Node label key to match Ignored if `affinity` is set.
  ## E.g.
  ## key: "kubernetes.io/e2e-az-name"
  ##
  key: ''
  ## @param nodeAffinityPreset.values InfluxDB(TM) Core Node label values to match. Ignored if `affinity` is set.
  ## E.g.
  ## values:
  ##   - e2e-az1
  ##   - e2e-az2
  ##
  values: []
## @param affinity InfluxDB(TM) Core Affinity for pod assignment
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
## Note: podAffinityPreset, podAntiAffinityPreset, and  nodeAffinityPreset will be ignored when it's set
##
affinity: {}

# Snow-White
snowWhite:
  mode: high-available
  image:
    registry: 'ghcr.io'
    pullPolicy: Always
  revisionHistoryLimit: 3
  rollout:
    maxSurge: '25%'
  ingress:
    enabled: true
    className: 'nginx'
    host: ''
    tls: true
  apiGateway:
    rollout:
      maxSurge: '25%'
    image:
      tag: ''
    additionalEnvs: {}
    service:
      type: ClusterIP
      port: 80
  qualityGateApi:
    rollout:
      maxSurge: '25%'
    image:
      tag: ''
    additionalEnvs: {}

# Infrastructure
kafka:
  enabled: true

influxdb:
  enabled: true

postgresql:
  enabled: true
  architecture: replication
  primary:
    extraEnvVars:
      - name: 'REPORT_COORDINATOR_DATASOURCE_PASSWORD'
        valueFrom:
          secretKeyRef:
            name: 'snow-white-postgresql-credentials'
            key: 'report-coord-password'
      - name: 'REPORT_COORDINATOR_FLYWAY_PASSWORD'
        valueFrom:
          secretKeyRef:
            name: 'snow-white-postgresql-credentials'
            key: 'report-coord-flyway-password'
      - name: 'QUALITY_GATE_DATASOURCE_PASSWORD'
        valueFrom:
          secretKeyRef:
            name: 'snow-white-postgresql-credentials'
            key: 'quality-gate-password'
      - name: 'QUALITY_GATE_FLYWAY_PASSWORD'
        valueFrom:
          secretKeyRef:
            name: 'snow-white-postgresql-credentials'
            key: 'quality-gate-flyway-password'
    initdb:
      scriptsConfigMap: 'snow-white-postgresql-init-scripts'
redis:
  enabled: true
