{{- $labels := include "snow-white.labels" (dict "name" "api-gateway" "context" .) | nindent 0 }}
{{- $selectorLabels := include "snow-white.selectorLabels" (dict "name" "api-gateway" "context" .) | nindent 0 }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-%s-%s" .Chart.Name .Release.Name "api-gateway" | trunc 63 | trimSuffix "-" }}
  labels:
    {{ $labels | nindent 4 }}
spec:
  {{- if ne .Values.snowWhite.mode "auto-scaling" }}
  {{ include "snow-white.replicas" . | nindent 2 }}
  {{- end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  revisionHistoryLimit: {{ .Values.snowWhite.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{ $selectorLabels | nindent 6 }}
  template:
    metadata:
      labels:
        {{ $selectorLabels | nindent 8 }}
    spec:
      {{ include "snow-white.imagePullSecrets" . | nindent 6 }}
      securityContext:
        fsGroup: 101
      {{- if .Values.affinity }}
      affinity: {{ include "common.tplvalues.render" (dict "value" .Values.affinity "context" .) | nindent 8 }}
      {{- else }}
      affinity:
        podAffinity: {{ include "common.affinities.pods" (dict "type" .Values.podAffinityPreset "component" "influxdb" "customLabels" $selectorLabels "context" .) | nindent 10 }}
        podAntiAffinity: {{ include "common.affinities.pods" (dict "type" .Values.podAntiAffinityPreset "component" "influxdb" "customLabels" $selectorLabels "context" .) | nindent 10 }}
        nodeAffinity: {{ include "common.affinities.nodes" (dict "type" .Values.nodeAffinityPreset.type "key" .Values.nodeAffinityPreset.key "values" .Values.nodeAffinityPreset.values) | nindent 10 }}
      {{- end }}
      containers:
        - name: api-gateway
          image: "{{ .Values.snowWhite.image.registry }}/bbortt/snow-white/api-gateway:{{ .Values.snowWhite.apiGateway.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.snowWhite.image.pullPolicy }}
          env:
            - name: 'SNOW_WHITE_API_GATEWAY_PUBLIC-URL'
              value: '{{ include "snow-white.publicHost" . }}'
            - name: 'SNOW_WHITE_API_GATEWAY_QUALITY-GATE-API-URL'
              value: 'http://quality-gate-api:8080'
            - name: 'SNOW_WHITE_API_GATEWAY_REPORT-COORDINATOR-API-URL'
              value: 'http://report-coordinator-api:8080'
          {{- with .Values.snowWhite.apiGateway.additionalEnvs }}
            {{- range $k, $v := . }}
            - name: {{ $k }}
              value: {{ $v }}
            {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: actuator
              containerPort: 9000
              protocol: TCP
          resources:
            limits:
              memory: '0.5Gi'
              ephemeral-storage: '0Gi'
            requests:
              cpu: '0.5'
              memory: '0.5Gi'
              ephemeral-storage: '0Mi'
          startupProbe:
            httpGet:
              scheme: HTTP
              path: /
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 12
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /api/manage/readiness
              port: actuator
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 12
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /api/manage/liveness
              port: actuator
            initialDelaySeconds: 45
            timeoutSeconds: 5
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 100
            runAsGroup: 101
---
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-%s-%s" .Chart.Name .Release.Name "api-gateway" | trunc 63 | trimSuffix "-" }}
  labels: {{ $labels | nindent 4 }}
spec:
  type: {{ .Values.snowWhite.apiGateway.service.type }}
  selector: {{ $selectorLabels | nindent 4 }}
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.snowWhite.apiGateway.service.port }}
      targetPort: http
---
{{ if .Values.snowWhite.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ printf "%s-%s" .Chart.Name .Release.Name | trunc 63 | trimSuffix "-" }}
  labels:
    {{ $labels | nindent 4 }}
  {{- with .Values.snowWhite.ingress.annotations }}
  annotations:
    {{ toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.snowWhite.ingress.className }}
  {{- if .Values.snowWhite.ingress.tls }}
  tls:
    - hosts:
        - '{{ include "snow-white.publicHost" . }}'
  {{- end }}
  rules:
    - host: {{ include "snow-white.publicHost" . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ printf "%s-%s-%s" .Chart.Name .Release.Name "api-gateway" | trunc 63 | trimSuffix "-" }}
                port:
                  name: http
{{- end }}
