{{- $labels := include "snow-white.labels" (dict "name" "openapi-coverage-stream" "context" .) | nindent 0 }}
{{- $selectorLabels := include "snow-white.selectorLabels" (dict "name" "openapi-coverage-stream" "context" .) | nindent 0 }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "snow-white.name" (dict "name" "openapi-coverage-stream" "context" .) }}
  labels:
    {{- $labels | nindent 4 }}
spec:
  replicas: {{ .Values.snowWhite.openapiCoverageStream.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.snowWhite.rollout.maxSurge }}
      maxUnavailable: 0
  revisionHistoryLimit: {{ .Values.snowWhite.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{ $selectorLabels | nindent 6 }}
  template:
    metadata:
      labels:
        {{ $labels | nindent 8 }}
    spec:
      {{ include "snow-white.imagePullSecrets" . | nindent 6 }}
      securityContext:
        fsGroup: 101
      {{- if .Values.affinity }}
      affinity: {{ include "common.tplvalues.render" (dict "value" .Values.affinity "context" .) | nindent 8 }}
      {{- else }}
      affinity:
        podAffinity: {{ include "common.affinities.pods" (dict "type" .Values.podAffinityPreset "component" "openapi-coverage-stream" "customLabels" $selectorLabels "context" .) | nindent 10 }}
        podAntiAffinity: {{ include "common.affinities.pods" (dict "type" .Values.podAntiAffinityPreset "component" "openapi-coverage-stream" "customLabels" $selectorLabels "context" .) | nindent 10 }}
        nodeAffinity: {{ include "common.affinities.nodes" (dict "type" .Values.nodeAffinityPreset.type "key" .Values.nodeAffinityPreset.key "values" .Values.nodeAffinityPreset.values) | nindent 10 }}
      {{- end }}
      containers:
        - name: openapi-coverage-stream
          image: "{{ .Values.snowWhite.image.registry }}/bbortt/snow-white/openapi-coverage-stream:{{ .Values.snowWhite.openapiCoverageStream.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          env:
          {{- include "snow-white.otelExporterEnvVariables" . | nindent 12 }}
            - name: 'INFLUXDB_URL'
              value: '{{ default (printf "%s-influxdb.%s.svc.cluster.local.:8086" (.Release.Name) (include "common.names.namespace" .)) .Values.snowWhite.openapiCoverageStream.influxdb.endpoint }}'
            - name: 'INFLUXDB_ORG'
              value: '{{ .Values.snowWhite.openapiCoverageStream.influxdb.org }}'
            - name: 'INFLUXDB_BUCKET'
              value: '{{ .Values.snowWhite.openapiCoverageStream.influxdb.bucket }}'
            - name: 'INFLUXDB_TOKEN'
            {{- if ne .Values.snowWhite.openapiCoverageStream.influxdb.token "" }}
              value: '{{ .Values.snowWhite.openapiCoverageStream.influxdb.token }}'
            {{- else }}
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s-%s" .Release.Name "influxdb-auth" }}
                  key: influxdb-password
            {{- end }}
            - name: 'SNOW_WHITE_OPENAPI_COVERAGE_STREAM_API-INDEX_BASE-URL'
              value: {{ default (printf "%s.%s.svc.cluster.local.:9092" (include "snow-white.name" (dict "name" "api-index-api" "context" .)) (include "common.names.namespace" .)) .Values.snowWhite.kafka.brokers }}
            - name: 'SNOW_WHITE_OPENAPI_COVERAGE_STREAM_CALCULATION-REQUEST-TOPIC'
              value: '{{ .Values.snowWhite.kafka.calculationRequestTopic }}'
            - name: 'SNOW_WHITE_OPENAPI_COVERAGE_STREAM_INIT-TOPICS'
              value: '{{ .Values.snowWhite.kafka.initTopics }}'
            - name: 'SNOW_WHITE_OPENAPI_COVERAGE_STREAM_OPENAPI-CALCULATION-RESPONSE-TOPIC'
              value: '{{ .Values.snowWhite.kafka.openapiCalculationResponseTopic }}'
            - name: 'SPRING_KAFKA_BOOTSTRAP_SERVERS'
              value: {{ default (printf "%s.%s.svc.cluster.local.:9092" (include "snow-white.name" (dict "name" "kafka-connect" "context" .)) (include "common.names.namespace" .)) .Values.snowWhite.kafka.brokers }}
          {{- $additionalEnvs := .Values.snowWhite.openapiCoverageStream.additionalEnvs | default list }}
          {{- range $additionalEnvs }}
            - name: {{ .name }}
              {{- if .value }}
              value: {{ .value | quote }}
              {{- else if .valueFrom }}
              valueFrom:
                {{- toYaml .valueFrom | nindent 16 }}
              {{- end }}
          {{- end }}
          resources:
            limits:
              memory: '512m'
              ephemeral-storage: '2Gi'
            requests:
              cpu: '0.5'
              memory: '512m'
              ephemeral-storage: '50Mi'
          securityContext:
            allowPrivilegeEscalation: false
            # readOnlyRootFilesystem: true
            runAsUser: 100
            runAsGroup: 101
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "snow-white.name" (dict "name" "openapi-coverage-stream" "context" .) }}
  labels:
   {{- $labels | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{ $selectorLabels | nindent 6 }}
  maxUnavailable: 25%
