{{- $labels := include "snow-white.labels" (dict "name" "quality-gate-api" "context" .) | nindent 0 }}
{{- $selectorLabels := include "snow-white.selectorLabels" (dict "name" "quality-gate-api" "context" .) | nindent 0 }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-%s-%s" .Chart.Name .Release.Name "quality-gate-api" | trunc 63 | trimSuffix "-" }}
  labels:
    {{ $labels | nindent 4 }}
spec:
  {{- if ne .Values.snowWhite.mode "auto-scaling" }}
  {{ include "snow-white.replicas" . | nindent 2 }}
  {{- end }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.snowWhite.qualityGateApi.rollout.maxSurge }}
      maxUnavailable: 0
  revisionHistoryLimit: {{ .Values.snowWhite.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{ $selectorLabels | nindent 6 }}
  template:
    metadata:
      labels:
        {{ $selectorLabels | nindent 8 }}
    spec:
      {{ include "snow-white.imagePullSecrets" . | nindent 6 }}
      securityContext:
        fsGroup: 101
      {{- if .Values.affinity }}
      affinity: {{ include "common.tplvalues.render" (dict "value" .Values.affinity "context" .) | nindent 8 }}
      {{- else }}
      affinity:
        podAffinity: {{ include "common.affinities.pods" (dict "type" .Values.podAffinityPreset "component" "influxdb" "customLabels" $selectorLabels "context" .) | nindent 10 }}
        podAntiAffinity: {{ include "common.affinities.pods" (dict "type" .Values.podAntiAffinityPreset "component" "influxdb" "customLabels" $selectorLabels "context" .) | nindent 10 }}
        nodeAffinity: {{ include "common.affinities.nodes" (dict "type" .Values.nodeAffinityPreset.type "key" .Values.nodeAffinityPreset.key "values" .Values.nodeAffinityPreset.values) | nindent 10 }}
      {{- end }}
      containers:
        - name: quality-gate-api
          image: "{{ .Values.snowWhite.image.registry }}/bbortt/snow-white/quality-gate-api:{{ .Values.snowWhite.apiGateway.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.snowWhite.image.pullPolicy }}
          env:
            - name: 'SNOW_WHITE_QUALITY_GATE_API_PUBLIC-API-GATEWAY-URL'
              value: '{{ include "snow-white.publicHost" . }}'
            - name: 'SPRING_DATASOURCE_URL'
              value: 'jdbc:postgresql://postgres:5432/quality-gate-api'
            - name: 'SPRING_DATASOURCE_USERNAME'
              value: 'quality_gate_app'
            - name: 'SPRING_DATASOURCE_PASSWORD'
              value: 'strongpassword4'
            - name: 'SPRING_FLYWAY_USER'
              value: 'quality_gate_flyway'
            - name: 'SPRING_FLYWAY_PASSWORD'
              value: 'strongpassword3'
          {{- with .Values.snowWhite.qualityGateApi.additionalEnvs }}
            {{- range $k, $v := . }}
            - name: {{ $k }}
              value: {{ $v }}
            {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: actuator
              containerPort: 9000
              protocol: TCP
          resources:
            limits:
              memory: '128Mi'
              ephemeral-storage: '0Gi'
            requests:
              cpu: '0.1'
              memory: '128Mi'
              ephemeral-storage: '0Mi'
          startupProbe:
            httpGet:
              scheme: HTTP
              path: /
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 12
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /api/manage/readiness
              port: actuator
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 12
          livenessProbe:
            httpGet:
              scheme: HTTP
              path: /api/manage/liveness
              port: actuator
            initialDelaySeconds: 45
            timeoutSeconds: 5
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 3
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 100
            runAsGroup: 101
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ printf "%s-%s-%s" .Chart.Name .Release.Name "quality-gate-api" | trunc 63 | trimSuffix "-" }}
  labels: {{ $labels | nindent 4 }}
spec:
  selector: {{ $selectorLabels | nindent 4 }}
  maxUnavailable: 25%
---
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-%s-%s" .Chart.Name .Release.Name "quality-gate-api" | trunc 63 | trimSuffix "-" }}
  labels: {{ $labels | nindent 4 }}
spec:
  type: ClusterIP
  selector: {{ $selectorLabels | nindent 4 }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
