springdoc:
  packages-to-scan: io.github.bbortt.snow.white.microservices.api.index.api.rest
spring:
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  profiles:
    default: prod
